
body {
	font-size: 11px;
	font-family: Tahoma, Arial;
	padding: 10px;
	color: #ffffff;
	margin: 0px;
	border: 0px;
	background: transparent url(../images/bg.jpg) no-repeat;
	background-attachment: fixed;
}

.body h2
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.body span.news_date
{
	margin-bottom: 10px;
	font-size: 10px;
}

.newsrow
{
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ddd;
}

.newsrow p
{
	margin: 0;
	display: block;
}

.nbody
{
	margin: 10px;
}

.nbody .author
{
	text-align: right;
	display: block;
	margin-top: 10px;
}
