@media screen {
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url('opensans.woff') format('woff');
	}
}

html,
body
{
	margin: 0;
	width: 100%;
	height: 100%;
}

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-size: 12px;
	color: #fff;
	/*background: url(../images/bg_dotted.png);*/
	
	background: #ED6801;
	background: -moz-radial-gradient(center, ellipse cover, #ED6801 39%, #ED6801 45%, #CD3301 99%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(39%,#ED6801), color-stop(45%,#ED6801), color-stop(99%,#CD3301));
	background: -webkit-radial-gradient(center, ellipse cover, #ED6801 39%,#ED6801 45%,#CD3301 99%);
	background: -o-radial-gradient(center, ellipse cover, #ED6801 39%,#ED6801 45%,#CD3301 99%);
	background: -ms-radial-gradient(center, ellipse cover, #ED6801 39%,#ED6801 45%,#CD3301 99%);
	background: radial-gradient(center, ellipse cover, #ED6801 39%,#ED6801 45%,#CD3301 99%);

}

.body
{
		background: #272526;
	background: -moz-linear-gradient(top, #272526 0%, black 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272526), color-stop(100%,black));
	background: -webkit-linear-gradient(top, #272526 0%,black 100%);
	background: -o-linear-gradient(top, #272526 0%,black 100%);
	background: -ms-linear-gradient(top, #272526 0%,black 100%);
	background: linear-gradient(top, #272526 0%,black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272526', endColorstr='#000000',GradientType=0 );

}



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a,
a:hover
{
	text-decoration: none;
}

.menu
{
	width: 500px;
	height: 50px;
	float: left;
}

.topBar
{
	height: 75px;
	/*
	background: #dd4814; 
	background: -moz-linear-gradient(top, #dd4814 0%, #b83a10 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd4814), color-stop(100%,#b83a10));
	background: -webkit-linear-gradient(top, #dd4814 0%,#b83a10 100%); 
	background: -o-linear-gradient(top, #dd4814 0%,#b83a10 100%); 
	background: -ms-linear-gradient(top, #dd4814 0%,#b83a10 100%); 
	background: linear-gradient(top, #dd4814 0%,#b83a10 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd4814', endColorstr='#b83a10',GradientType=0 );  */

}

.intro h1
{
	font-weight: normal;
	font-size: 25px;
}

.logo
{
	font-size: 40px;
	font-weight: bolder;
	height: 75px;
	line-height: 75px;
	float: left;
}

.tileCenter
{
	margin: 0 auto;
	width: 964px;
}

.menu
{
	margin-right: 10px;
	float: right;
	text-align: right;
	margin-top: 20px;
}

.menu a
{
	display: inline-block;
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px #222;
}

.menu a:hover
{
	color: #ddd;
}

.content
{
	height: auto;
	padding: 15px;
}

.col1,
.col2
{
	float: left;
}


.col1
{
	width: 600px;
	min-height: 400px;
	height: auto;
}

.col2
{
	width: 300px;
	height: auto;
	min-height: 200px;
	margin-left: 34px;
}

.newsbox h3
{
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.content h3
{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
}

.regform
{
	border: 4px solid #454545;
	padding: 10px 10px 0 10px;
	background: #fff;
}

.regform form
{
	margin-bottom: 0;
}

.frow_btn
{
	margin: 15px 0;
	height: 28px;
}

.regform legend
{
	font-size: 14px;
	margin-bottom: 20px;
	display: inline-block;
}

.frow
{
	padding: 5px 0;
	position: relative;
}

.frow label
{
	margin-bottom: 2px;
}

.wsmall
{
	width: 88px !Important;
}

.frow .error_message
{
	position: absolute;
	width: 270px;
	height: 12px;
	line-height: 12px;
	background: #FFEBE8;
	top: 56px;
	left: 2px;
	font-size: 9px;
	text-indent: 5px;
	color: #DD3C10;
	
	display: none;
}

.regform h3
{
	color: #000;
}

.regform .frow input
{
	width: 265px;
	padding: 2px;
}


.regform .frow select
{
	width: 272px;
	padding: 2px;
}

.graybtn
{
	background: whiteSmoke;
	text-align: center;
	padding: 10px;
	border-top: 1px solid #ddd;
	margin-left: -10px;
	width: 272px;
	margin-top: 10px;
}

.nrow
{
	margin: 10px 0;
}

.avatar
{
	width: 100px;
	height: 100px;
	border: 1px solid #ddd;
	background: whiteSmoke;
	float: left;
	margin-right: 15px;
}

.ncontent
{
	width: 456px;
	float: left;
}

.ncontent h4
{
	font-weight: normal;
	font-size: 15px;
	color: #222;
}

.ncontent span
{
	font-size: 11px;
	color: #333;
	margin-bottom: 20px;
	display: block;
}

.ncontent span.author
{
	font-size: 12px;
	color: #b83a10;
	float: right;
}

.ncontent p
{
	text-align: justify;
	color: #333;
}

.newsbox
{
	
	padding: 10px;
	height: 250px;
}

.shadow
{
	border: 1px solid #ddd;
	box-shadow: 1px 1px 4px #ddd;
}

.paginate
{
	float: right;
	margin-top: 15px;
}

.colsub
{
	width: 273px;
	height: 150px;
	float: left;
	margin-top: 10px;
	padding: 10px;
}

.colsub h4
{
	font-weight: normal;
	font-size: 13px;
	margin-bottom: 5px;
}

.marginRight10
{
	margin-right: 10px
}

.table-ranking tr th,
.table-ranking tr td
{
	padding: 3px;
}

.error input,
.error select
{
	border: 1px solid red;
}
.error label
{
	color: red;
}

.loaders
{
	height: 24px;
	line-height: 24px;
	background: url(../images/preloader.gif) no-repeat;
	text-indent: 30px;
	float: left;
	margin-left: 5px;
	display: none;
}

.footer
{
	color: #fff;
	padding: 20px 0;
	font-size: 11px;
}

.floatleft
{
	float: left;
}

.response .alert
{
	margin: 10px 0;
}

.floatright
{
	float:right;
}


.icontent
{
	margin-top: 40px;
}

.icontent h4
{
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 5px;
}
.icontent hr
{
	height: 1px;
	border-top: 1px solid #5E5E5E;
	border-bottom: none;
	margin: 5px 0 15px 0;
}

.rimage
{
	width: 124px;
	height: 140px;
	background-image: url(../images/chibi_spr.png);
	background-repeat: no-repeat;
	float: left;
}

.features
{
	margin: 5px 0;
}

.lotofgears
{
	background-position: -214px -248px;
}

.thirdclass
{
	background-position: -214px -51px;
}

.downloadnow
{
	background-position: -53px -407px;
	height: 152px;
	width: 131px;
}

.features_details
{
	width: 460px;
	float: left;
	margin: 5px 0;
}

.features_details button
{
	margin-top: 10px;
}

.features_details h5
{
	font-weight: normal;
	font-size: 14px;
	color: #ddd;
	margin-bottom: 5px;
}

.features_details p
{
	font-size: 11px;
}

.align-right
{
	text-align: right;
}