@media screen {
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url('opensans.woff') format('woff');
	}
}

html,
body
{
	margin: 0;
	width: 100%;
	height: 100%;
}

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-size: 12px;
	color: #fff;
	/*background: url(../images/bg_dotted.png);*/
	
	background: #1E5799;
	background: -moz-linear-gradient(left, #1E5799 0%, #4DD6E2 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1E5799), color-stop(100%,#4DD6E2));
	background: -webkit-linear-gradient(left, #1E5799 0%,#4DD6E2 100%);
	background: -o-linear-gradient(left, #1E5799 0%,#4DD6E2 100%);
	background: -ms-linear-gradient(left, #1E5799 0%,#4DD6E2 100%);
	background: linear-gradient(left, #1E5799 0%,#4DD6E2 100%);

}

.body
{
		background: #272526;
	background: -moz-linear-gradient(top, #272526 0%, black 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272526), color-stop(100%,black));
	background: -webkit-linear-gradient(top, #272526 0%,black 100%);
	background: -o-linear-gradient(top, #272526 0%,black 100%);
	background: -ms-linear-gradient(top, #272526 0%,black 100%);
	background: linear-gradient(top, #272526 0%,black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272526', endColorstr='#000000',GradientType=0 );

}



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a,
a:hover
{
	text-decoration: none;
}

h4.wTitle
{
	font-style: italic;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

hr.blackLine
{
	height: 0px;
	margin: 3px 0 15px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #373737;
}

hr.regHr
{
	height: 0px;
	margin: 5px 0;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #6e6e6e;
}


hr.nLine
{
	height: 0px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #333333;
}

.onlineStatus
{
	background: #3582c1; /* Old browsers */
	background: -moz-linear-gradient(top, #3582c1 11%, #013b69 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#3582c1), color-stop(100%,#013b69)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3582c1 11%,#013b69 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3582c1 11%,#013b69 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3582c1 11%,#013b69 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3582c1 11%,#013b69 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3582c1', endColorstr='#013b69',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	width: 55px;
	height: 20px;
	border: 1px solid #000;
	text-align:center;
}

.onlinePlayers
{
	background: #da9a53; /* Old browsers */
	background: -moz-linear-gradient(top, #da9a53 11%, #984800 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#da9a53), color-stop(100%,#984800)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #da9a53 11%,#984800 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #da9a53 11%,#984800 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #da9a53 11%,#984800 100%); /* IE10+ */
	background: linear-gradient(to bottom, #da9a53 11%,#984800 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da9a53', endColorstr='#984800',GradientType=0 ); /* IE6-9 */
}

.boxIngrave .image
{
	text-align: center;
	padding: 5px 0;
}

.boxIngrave .itemName
{
	text-align: center;
}

.wBox
{
	margin-bottom: 25px;
}

.boxIngrave
{
	width: auto;
	min-width: 90px;
	height: auto;
	min-height: 20px;
	background: #141414;
	box-shadow: inset 0 2px 4px #060606;
	border-bottom: 1px solid #333;
	border-radius: 5px;
	display: inline-block;
	margin-right: 7px;
	padding: 5px;
	color: #fff;
	font-weight: bolder;
}

.bStatus
{
	padding: 5px;
}

.bStatus span
{
	padding: 0 5px;
}

.bStatus span:first-child
{
	padding-right: 10px;
}

.bItems 
{
	padding: 5px 10px;
}

.boxIngrave span
{
	display: inline-block;
	height: 30px;
	line-height: 27px;
}

.menu
{
	width: 500px;
	height: 50px;
	float: left;
}

.topBar
{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 100px;
	background: #0194d7; /* Old browsers */
	background: -moz-linear-gradient(top, #0194d7 0%, #006dc4 29%, #006dc4 87%, #0194d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0194d7), color-stop(29%,#006dc4), color-stop(87%,#006dc4), color-stop(100%,#0194d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0194d7', endColorstr='#0194d7',GradientType=0 ); /* IE6-9 */
}

.topBar form
{
	margin-bottom: 0;
}

.intro h1
{
	font-weight: normal;
	font-size: 20px;
}

.logo
{
	font-weight: bolder;
	height: 62px;
	line-height: 62px;
	float: left;
}

.logo a{color: #fff; font-size: 25px}

.tileCenter
{
	margin: 0 auto;
	width: 964px;
}

.modal
{
	display: none;
	
}

.menu
{
	margin-right: 10px;
	float: right;
	text-align: right;
	margin-top: 20px;
}

.menu a
{
	display: inline-block;
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px #222;
}

.menu a:hover
{
	color: #ddd;
}

.content
{
	height: auto;
	padding: 15px 0;
}

.col1,
.col2
{
	float: left;
}


.col1
{
	width: 600px;
	min-height: 400px;
	height: auto;
}

.col2
{
	width: 300px;
	height: auto;
	min-height: 200px;
	margin-left: 34px;
}

.newsbox h3
{
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 15px;
	
}

.content h3
{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
}

.regform
{
	padding: 5px 14px 50px 13px;
	background: #808080; /* Old browsers */
	background: -moz-linear-gradient(top, #808080 0%, #434343 13%, #434343 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#808080), color-stop(13%,#434343), color-stop(100%,#434343)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #808080 0%,#434343 13%,#434343 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #808080 0%,#434343 13%,#434343 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #808080 0%,#434343 13%,#434343 100%); /* IE10+ */
	background: linear-gradient(to bottom, #808080 0%,#434343 13%,#434343 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#434343',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	box-shadow: -1px 2px 6px #1A1A1A;
	color: #fff;
}

.regform form
{
	margin-bottom: 0;
}

.regform label
{
	color: #cacaca !important;
}

.frow_btn
{
	margin: 15px 0;
	height: 28px;
}

.regform legend
{
	font-size: 14px;
	margin-bottom: 20px;
	display: inline-block;
}

.regform h3
{
	text-align: center;
	color: #fff !Important;
	font-style: italic;
	font-size: 13px;
	font-weight: bolder;
	letter-spacing: 1px;
}

.regform input,
.regform select
{
	background: #141414;
	box-shadow: inset 0 2px 2px #060606;
	border-bottom: 1px solid #333;
	border-radius: 5px;
	border: 0;
	padding: 5px !Important;
	border-radius: 3px !Important;
	border-color: none !Important;
}

.regform input:focus
{
	border-color: none !Important;
	box-shadow: none !Important;
}

.frow
{
	padding: 5px 0;
	position: relative;
}

.frow label
{
	margin-bottom: 2px;
}

.wsmall
{
	width: 88px !Important;
}

.frow .error_message
{
	position: absolute;
	width: 270px;
	height: 12px;
	line-height: 12px;
	background: #FFEBE8;
	top: 49px;
	left: 2px;
	font-size: 9px;
	text-indent: 5px;
	color: #DD3C10;
	
	display: none;
}

.regform h3
{
	color: #000;
}

.regform .frow input
{
	width: 265px;
	padding: 2px;
}


.regform .frow select
{
	width: 272px;
	padding: 2px;
	height: 27px;
}

.graybtn
{
	background: whiteSmoke;
	text-align: center;
	padding: 10px;
	border-top: 1px solid #ddd;
	margin-left: -10px;
	width: 272px;
	margin-top: 10px;
}

.nrow
{
	margin: 10px 0;
}

.nAvatar
{
	float: left;
	width: 40px;
	height: 40px;
	background: #ddd;
	margin-right: 10px;
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #5c5c5c;
}

.nDate
{
	float: right;
	text-align: right;
	color: #606060;
	font-size: 11px;
	width: 120px;
}

.nDetails
{
	width: 420px;
	height: 40px;
	float: left;
}

.nDetails span
{
	display: block;
}

.nDetails span:first-child
{
	font-weight: bolder;
}

.avatar
{
	width: 100px;
	height: 100px;
	border: 1px solid #ddd;
	background: whiteSmoke;
	float: left;
	margin-right: 15px;
}

.ncontent
{
	width: 456px;
	float: left;
}

.ncontent h4
{
	font-weight: normal;
	font-size: 15px;
	color: #222;
}

.ncontent span
{
	font-size: 11px;
	color: #333;
	margin-bottom: 20px;
	display: block;
}

.ncontent span.author
{
	font-size: 12px;
	color: #b83a10;
	float: right;
}

.ncontent p
{
	text-align: justify;
	color: #333;
}

.newsbox
{
	
	padding: 10px;
	height: 250px;
}

.shadow
{
	border: 1px solid #ddd;
	box-shadow: 1px 1px 4px #ddd;
}

.paginate
{
	float: right;
	margin-top: 15px;
}

.colsub
{
	width: 273px;
	height: 150px;
	float: left;
	margin-top: 10px;
	padding: 10px;
}

.colsub h4
{
	font-weight: normal;
	font-size: 13px;
	margin-bottom: 5px;
}

.marginRight10
{
	margin-right: 10px
}

.table-ranking tr th,
.table-ranking tr td
{
	padding: 3px;
}

.error input,
.error select
{
	border: 1px solid red;
}
.error label
{
	color: red;
}

.loaders
{
	height: 24px;
	width: 24px;
	line-height: 24px;
	background: url(../images/preloader.gif) no-repeat;
	text-indent: 30px;
	float: left;
	margin-left: 5px;
	display: none;
}

.footer
{
	color: #fff;
	padding: 20px 0;
	font-size: 11px;
	background: #0194d7; /* Old browsers */
	background: -moz-linear-gradient(top, #0194d7 0%, #006dc4 29%, #006dc4 87%, #0194d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0194d7), color-stop(29%,#006dc4), color-stop(87%,#006dc4), color-stop(100%,#0194d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0194d7 0%,#006dc4 29%,#006dc4 87%,#0194d7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0194d7', endColorstr='#0194d7',GradientType=0 ); /* IE6-9 */
}

.floatleft
{
	float: left;
}

.response .alert
{
	margin: 10px 0;
}

.floatright
{
	float:right;
}


.icontent
{
	height: 380px;
}

.icontent h4
{
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 5px;
}
.icontent hr
{
	height: 1px;
	border-top: 1px solid #5E5E5E;
	border-bottom: none;
	margin: 5px 0 15px 0;
}

.rimage
{
	width: 124px;
	height: 140px;
	background-image: url(../images/chibi_spr.png);
	background-repeat: no-repeat;
	float: left;
}

.features
{
	margin: 5px 0;
}


.news .date
{
	font-size: 10px;
	margin-bottom: 20px;
	display: block;
	color: #ddd;
}

.lotofgears
{
	background-position: -214px -248px;
}



.thirdclass
{
	background-position: -214px -51px;
}

.downloadnow
{
	background-position: -53px -407px;
	height: 152px;
	width: 131px;
}

.features_details
{
	width: 460px;
	float: left;
	margin: 5px 0 5px 10px;
}

.features_details button
{
	margin-top: 10px;
}

.features_details h5
{
	font-weight: normal;
	font-size: 14px;
	color: #ddd;
	margin-bottom: 5px;
}

.features_details p
{
	font-size: 11px;
}

.align-right
{
	text-align: right;
}

.quicklogin
{
	width: 270px;
	float: right;
	margin-top: 22px;
	margin-right: 50px;
}


.quicklogin a
{
	color: #fff;
	display: block;
	margin-top: 3px;
	font-size: 10px;
}

.res_message
{
	box-shadow: inset 0 0 3px #a8adaf;
	padding: 8px;
	background-color: #D7E8FD;
	color: #719ED6;
	text-shadow: 1px 1px 1px #fff;
	margin-bottom: 5px;
	font-size: 12px;
}

.loader
{
	background-image: url(../images/preloader_b.gif);
	background-repeat: no-repeat;
	background-position: 8px 6px;
	text-indent: 24px;
}

.res_message ul
{
	margin: 0 !important;
	list-style-type: none;
}


.res_message ul li,
.res_message p
{
	font-size: 11px;
}

.res_alert
{
	background: #FFEBE8;
	color: #DD3C10;
	box-shadow: inset 0 0 3px #DD3C10;
}

.mainreg
{
	height: 387px;
}

.mainreg .res_message,
.mainlogin .res_message
{
	margin-top: 15px;
}

.mainlogin
{
	height: 215px;
}

label
{
	color: #000 !Important;
}

.news
{
	position: relative;
}

.news-cuttin
{
	width: 202px;
	height: 246px;
	position: absolute;
	background: url(../images/kapra_pic.png) no-repeat;
	bottom: -3px;
	right: 0;
}

.streams .admin
{
	color: red;
}

.flexme
{
	display: none;
}

.main_nav
{	
	padding-bottom: 10px;
	width: 600px;
	float: left;
}

.main_nav a
{
	margin: 0 15px;
	color: #fff;
	font-size: 15px;
	display: inline-block;
	height: 37px;
	
}

.main_nav a.active
{
	font-weight: bolder;
	background: url(../images/arrow_down.png) no-repeat bottom center;
}

.clear
{
	clear: both;
}

.widgetbox
{
	width: 287px;
	height: auto;
	min-height: 160px;
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px;
	border: 1px solid #222;
	border-radius: 5px;
}

.widgetbox h2
{
	font-size: 12px;
	padding: 0;
	margin: 0 0 15px 0;
	line-height: 13px;
}

.server_status
{
	width: 228px;
}

.itemshop
{
	width: 328px;
}

.wrapper
{
	width: 320px;
	overflow: hidden;
	height: 120px;
	margin: 0 0 0 5px;
}

.items li
{
	width: 75px;
	height: 120px;
	float:  left;
	text-align: center;
	margin: 0 5px 0 0;
}

.news
{
	width: 580px;
}

.widgetbox ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.widgetbox span
{
	display: inline-block;
}	

.widgetbox span.label
{
	background: none;
	font-size: 11px;
	font-weight: normal;
	vertical-align: normal;
	line-height: 11px;
}

.online
{
	color: green;
}

.offline 
{
	color: red;
}

.status
{
	text-align: center;
}

.onlineplayers
{
	background: gray;
	padding: 3px;
	border-radius: 5px;
	display: block;
	margin-top: 5px;
}

.item-image
{
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
	border: 1px solid #ddd;
	margin-top: 16px;
	margin-right: 10px;
	padding: 15px 0;
}


.Card
{
	width: 150px;
	border: none;
	padding: 0;
}

.buttonActions
{
	margin-bottom: 10px;
}
